# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor / temp files
*.exe
*.terabox.uploading.cfg
*~
*.bak
databases/*.bak

# IDE
.idea/
.vscode/
*.swp
*.swo
*.exe
dashboard.exe
*.exe
*.exe
dashboard.exe
crm.exe
